.HomeContainer {
  width: 100%;
}

.heroSection {
  display: flex;
}

.heroSection .left {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.heroSection .left div {
  display: flex;
  flex-direction: column;
}

.heroSection .left div h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.heroSection .left div p {
  font-size: 50px;
  text-align: right;
  color: #00a7e1;
  margin: 0;
  padding: 0;
}

.heroSection .right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.heroSection .right .one {
  width: 70%;
}

.heroImage {
  margin-top: 25px;
  margin-left: 200px;
  width: 60%;
  height: auto;
}

.heroSection .right {
  justify-content: flex-start;
  margin-top: 100px;
}

.heroSection .right .one {
  padding: 20px 10px;
  text-align: right;
  width: 80%;
}

.heroSection .right .two {
  padding: 20px 10px;
  text-align: left;
  width: 80%;
}

.heroButton {
  text-decoration: none;
  background-color: #003459;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  border-radius: 3px;
}

.heroButton:hover {
  background-color: #00a7e1;
}

.newTalesSection {
  /* margin-top: 80px; */
  background-color: #00171f;
  width: 100%;
  padding-bottom: 70px;
}

.titleName {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
  text-align: center;
}

.titleName h3 {
  font-size: 35px;
  padding: 10px 15px;
}

.titleName .viewAllNewTalesLink {
  font-size: 20px;
  color: #00a7e1;
  text-decoration: none;
}

.viewAllNewTalesLink:hover {
  color: #fff;
}

.taleBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 6px;
}

.QuestionSection {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  color: white;
}

.leftHeader {
  color: #00a7e1;
  font-size: 45px;
  font-weight: 800;
}

.leftButton {
  background-color: #003459;
  padding: 10px 18px;
  border-radius: 3px;
  font-size: 24px;
  border: none;
  width: 300px;
  text-align: center;
  font-weight: 900;
}

.rightHeader {
  color: #00171f;
  font-size: 45px;
  font-weight: 800;
}

.rightButton {
  background-color: #00a7e1;
  padding: 10px 18px;
  border-radius: 3px;
  font-size: 24px;
  border: none;
  width: 200px;
  text-align: center;
  font-weight: 900;
}

.rightHeaderAndButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.leftHeaderAndButtonContainer {
  display: flex;
  flex-direction: column;
}
