.LayoutContainer {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  width: 150px;
  height: auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
}

.navLinkContainer a {
  color: #18a921;
  font-size: 13px;
  text-decoration: none;
  padding: 5px 10px;
}

.navLinkContainer a:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.connectButton {
  background-color: #18a921;
  border: none;
  padding: 9px 18px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 5px;
}

.connectButton:hover {
  background-color: #000000;
  color: #fff;
}
