.image {
  width: 250px;
  height: 250px;
  border-radius: 2px;
}

.titleName {
  font-size: 25px;
  color: white;
  margin: 0;
  font-weight: 900;
  padding: 5px 0px;
}

.author {
  font-size: 18px;
  color: #00a7e1;
  margin: 0;
}

.genre {
  color: white;
  margin: 0;
  font-size: 15px;
  margin-bottom: 8px;
}

.TaleBoxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.TaleBoxContainer div {
  padding: 22px;
  text-align: center;
}

.dropChapterButton {
  background-color: #00a7e1;
  font-size: 22px;
  color: white;
  padding: 4px 10px;
  border-radius: 3px;
}

.dropChapterButton:hover {
  background-color: #011b24;
}
