.image {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.titleName {
  font-size: 25px;
  color: white;
  margin: 0;
  font-weight: 900;
  padding: 5px 0px;
}

.author {
  font-size: 18px;
  color: #18a921;
  margin: 0;
}

.genre {
  color: white;
  margin: 0;
  font-size: 15px;
  margin-bottom: 8px;
}

.TaleBoxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.TaleBoxContainer:hover {
  background-color: #1a1a1a;
}

.TaleBoxContainer div {
  padding: 22px;
  text-align: center;
}

.dropChapterButton {
  background-color: #ffffff;
  font-size: 22px;
  color: rgb(10, 10, 10);
  padding: 4px 10px;
  border-radius: 3px;
}

.dropChapterButton:hover {
  background-color: #18a921;
}
